@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

/* MovieCard Custom CSS */
.movie {
  background-color: #3f51b5;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  width: 300px;
  position: relative;
  cursor: pointer;
}

.movie img {
  object-fit: cover;
  height: 450px;
  max-width: 100%;
}

.movie-over {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  padding: 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateX(0%);
}

.tag {
  border-radius: 5px;
  padding: 0.7rem;
  font-weight: bold;
  width: 3rem;
  text-align: center;
}

.tag.green {
  background-color: #1b5e20;
}

.tag.orange {
  background-color: #f57f17;
}

.tag.red {
  background-color: #7f0000;
}

.form-image {
  min-width: 800px;
  min-height: 600px;
}

/* Login Custom CSS */

.custom-linear-gradient::before {
  background: linear-gradient(0deg, transparent, #ff4b45);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.custom-linear-gradient::after {
  background: linear-gradient(0deg, transparent, #ff4b45);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.form {
  padding: 50px 40px;
}

.inputbox-input {
  z-index: 10;
  padding: 20px 10px 10px;
}

.inputbox-span {
  padding: 20px 0px 10px;
  pointer-events: none;
  transition: 0.5s;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #ff4b45;
  transform: translateY(-34px);
  font-size: 0.75em;
}

.inputbox i {
  z-index: 9;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

.links-a {
  margin: 10px 0;
}

.links-a:hover,
.links-a:nth-child(2) {
  color: #ff4b45;
}

.custom-input {
  padding: 11px 25px;
}

.custom-input:active {
  opacity: 0.8;
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}